include main.pug
style
	include css/basicPage.css
body
	h1.head Adventures of Goo Goo
	p.img #[img(src="/images/animate1/GooGoo1.png" alt="Goo Goo makes a game!")]
	p.para1 You are Goo Goo, an intrepid adventurer. Your goal is to become a game developer. Best of luck to you as you begin.
	a(href="chooseTool") Begin your adventure
