include main.pug
style
	include css/chooseTool.css
body
	h1.head Choose your tool
	p.para1 Will you use an expensive software tool or will you use a book to learn how to build your own games?
	p.para2
		a(href="chooseTool/software") #[img(src="/images/animate1/MEGPE.png" alt="Expensive Game Software")]
		img(src="/images/animate1/GooGooConfused.png" alt="Goo Goo Confused")
		a(href="chooseTool/book") #[img(src="/images/animate1/Dummies.png" alt="Dummies book")]

//
	myproject/views/animate1/basicPage.css
