doctype html
html
	head
		script(src="/javascripts/jquery-3.2.1.min.js")
		script(src="/javascripts/demo1.js")
		style
			include css/software.css
	body
		h1 ooooo~~~Ps


	script
			include software.js
